---
layout: default
---
<div class="home">
   {% include nav.html %}
   <section>
      <ul class="post-list">
         {% for post in site.posts %}
         <li>
            [<time datetime="{{ post.date | date_to_xmlschema }}"></time>{{ post.date | date: "%Y-%m-%d" }}]
            <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
<p class="announceable" style="border:1px; text-indent: 0;">{{ post.title }} {{ post.url | prepend: site.baseurl | prepend: site.url }}{% if post.tags.size > 0 %}{% for post_tag in post.tags %} #{{ post_tag | slugify | replace: "-", "_" }}{% endfor %}{% endif %}</p>

         </li>
         {% endfor %}
      </ul>
   </section>
</div>
