---
layout: default
title: Post Series
---

{% assign series = "" %}
{% for post in site.posts %}
   {% if post.series != nil %}
      {% if series == "" %}
         {% assign series = post.series %}
      {% endif %}
      {% unless series contains post.series %}
         {% assign series = series | append:'|' | append: post.series %}
      {% endunless %}
   {% endif %}
{% endfor %}
{% assign series = series | split:'|' %}

<div class="home">

	<section>
		<p>All series - from latest back to the first.</p>
		{% for serie in series %}
		<h3 class="series-title" id="{{ serie | slugify }}">{{ serie }}</h3>
		<ol class="series-list">
         {% for post in site.posts reversed %}
            {%- if post.series == serie %}
			<li>
				<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
			</li>
            {% endif %}
         {%- endfor %}
		</ol>
		{% endfor %}
	</section>

</div>
