<div class="post-content"><em>Comments?
      <a href="https://octodon.social/@polettix">Octodon</a>,
      <a href="https://twitter.com/polettix">Twitter</a>,
      <a href="https://github.com/polettix/ETOOBUSY/issues/new">GitHub</a>,
      <a href="https://www.reddit.com/user/polettix">Reddit</a>, or
      <a href="mailto:flavio[ÆT]polettix[døt]it">drop me a line</a>!
</em></div>
